version: 2

_defaults:

  - &auxiliary_setup
    run:
      name: Auxiliary setup
      command: |
        gem install xcpretty --user-install
        HOMEBREW_NO_AUTO_UPDATE=1 brew install gnu-sed # for ci_test script
        mkdir logs test_results

  - &restore_pods_cache
    restore_cache:
      name: Restore Pods cache
      keys:
        - v3-pods-{{ checksum "Podfile.lock" }}

  - &install_pods
    run:
      name: Install Pods
      command: ./scripts/ci_pod_install

  - &save_pods_cache
    save_cache:
      name: Saving Pods cache
      key: v3-pods-{{ checksum "Podfile.lock" }}
      paths:
        - Pods
        - TreasureData.xcworkspace

  - &store_artifacts
    store_artifacts:
      path: ./logs
      destination: logs

  - &store_test_results
    store_test_results:
      path: ./test_results

  - &ios9_install_and_work_around
    run:
      name: iOS 9 Install and  Work Around
      command: |
        xcversion simulators --install='iOS 9.3' --no-progress
        sudo mkdir '/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 9.3.simruntime/Contents/Resources/RuntimeRoot/usr/lib/swift'

  - &ios8_install_and_work_around
    run:
      name: iOS 8 Install and Work Around
      command: |
        xcversion simulators --install='iOS 8.4' --no-progress
        sudo mkdir '/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 8.4.simruntime/Contents/Resources/RuntimeRoot/usr/lib/swift'

  - &ios7_install
      name: iOS 7 Install
      command: xcversion simulators --install='iOS 7.1.2' --no-progress

jobs:

  test_ios12:
    macos:
      xcode: "10.2.0" 
    steps:
      - checkout
      - *auxiliary_setup
      - *restore_pods_cache
      - *install_pods
      - *save_pods_cache
      - run:
          name: Test on iOS 12
          no_output_timeout: 1800
          command: ./scripts/ci_test 'platform=iOS Simulator,name=iPhone 7,OS=12.2' logs/xcbuild_ios_12.log test_results/ios_12.xml
      - *store_artifacts
      - *store_test_results

  test_ios11:
    macos:
      xcode: "10.1.0"
    steps:
      - checkout
      - *auxiliary_setup
      - *restore_pods_cache
      - *install_pods
      - *save_pods_cache
      - run:
          name: Test on iOS 11
          no_output_timeout: 1800
          command: ./scripts/ci_test 'platform=iOS Simulator,name=iPhone 7,OS=11.2' logs/xcbuild_ios_10.log test_results/ios_10.xml
      - *store_artifacts
      - *store_test_results

  test_ios10:
    macos:
      xcode: "10.1.0"

    steps:
      - checkout
      - *auxiliary_setup
      - *restore_pods_cache
      - *install_pods
      - *save_pods_cache
      - run:
          name: Test on iOS 10
          no_output_timeout: 1800
          command: ./scripts/ci_test 'platform=iOS Simulator,name=iPhone 7,OS=10.3.1' logs/xcbuild_ios_10.log test_results/ios_10.xml
      - *store_artifacts
      - *store_test_results

  test_ios9:
    macos:
      xcode: "10.2.1"
    steps:
      - checkout
      - *ios9_install_and_work_around
      - *auxiliary_setup
      - *restore_pods_cache
      - *install_pods
      - *save_pods_cache
      - run:
          name: Test on iOS 9
          no_output_timeout: 1800
          command: ./scripts/ci_test 'platform=iOS Simulator,name=iPhone 6s,OS=9.3' logs/xcbuild_ios_9.log test_results/ios_9.xml
      - *store_artifacts
      - *store_test_results

  test_ios8:
    macos:
      xcode: "10.2.1"
    steps:
      - checkout
      - *ios8_install_and_work_around
      - *auxiliary_setup
      - *restore_pods_cache
      - *install_pods
      - *save_pods_cache
      - run:
          name: Test on iOS 8
          no_output_timeout: 1800
          command: ./scripts/ci_test 'platform=iOS Simulator,name=iPhone 6,OS=8.4' logs/xcbuild_ios_8.log test_results/ios_8.xml
      - *store_artifacts
      - *store_test_results

  test_ios7:
    macos:
      xcode: "9.4.1"
    steps:
      - checkout
      - *ios7_install
      - *auxiliary_setup
      - *restore_pods_cache
      - *install_pods
      - *save_pods_cache
      - run:
          name: Test on iOS 7
          no_output_timeout: 1800
          command: ./scripts/ci_test 'platform=iOS Simulator,name=iPhone 5s,OS=7.1.2' logs/xcbuild_ios_7.log test_results/ios_7.xml
      - *store_artifacts
      - *store_test_results


workflows:
  version: 2
  test:
    jobs:
      - test_ios9
      - test_ios8
      - test_ios7

